@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$font-family: 'Raleway', sans-serif;
$font-family2: 'Playfair Display', sans-serif;
.v-application {
  [class*='text-'] {
    color: var(--v-txt-base);
    font-family: $font-family !important;
  }

  font-family: $font-family !important;
  .f-playfair{
    font-family: $font-family2 !important;
  }
  .f-roboto{
    font-family: "Roboto",sans-serif!important;
  }
}
.br-6{
  border-radius: 6px;
}
.f-24{
  font-size: 24px;
}
.f-16{
  font-size: 16px;
}
.f-14{
  font-size: 14px;
}
.f-12{
  font-size: 12px;
}