@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$font-family: 'Raleway', sans-serif;
$font-family2: 'Playfair Display', sans-serif;
.v-application {
  [class*='text-'] {
    color: var(--v-txt-base);
    font-family: $font-family !important;
  }

  font-family: $font-family !important;
  .f-playfair{
    font-family: $font-family2 !important;
  }
  .f-roboto{
    font-family: "Roboto",sans-serif!important;
  }
}
.br-6{
  border-radius: 6px;
}
.br-20{
  border-radius: 20px!important;
}
.f-24{
  font-size: 24px;
}
.f-18{
  font-size: 18px;
}
.f-16{
  font-size: 16px;
}
.f-14{
  font-size: 14px;
}
.f-12{
  font-size: 12px;
}
.align-start{
  .v-input__slot {
    align-items: baseline;
  }
}
.custom-select{
  .v-list .v-list-item--active{
    border-radius: 30px!important;
  }
}
.v-list .v-list-item--active {
  border-radius: 56px!important;
  background: rgba(0, 51, 255, 0.1);;
}
.v-list-item--link:before {
  background-color: transparent !important;
}
.v-list-item__content, .v-select__selection{
  font-family: Playfair Display, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}
.ct{
  position: relative;
  top: -8px;
}
.dlt-btn{
  position: absolute;
  bottom: 20px;
  right:20px;
}
.f_media{

}
@media (max-width: 550px) {
  .f_media{
    font-size: medium;
  }
}
.cropper {
  /*width: 100%;*/
  height: 340px;
}